/*Introduccion*/

.titulo--container{
    height: 1062%;
    width: 81%;
    margin-left: 9%;
    margin-top: 20px;
    /* background-color: red;  */
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoPrincipal{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 41px;
    text-align: center;

}

/*Titulo seccion*/
.Section__name{
    width: 81%;
    height: 56px;
    margin-left: 9%;
    margin-top: 96px;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.tituloSection{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
}


/*VIDEOS*/
.tituloVideo{
    margin-top: 40px;
    margin-bottom: 12px;
    font-family: Indie Flower;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
@media screen and (max-width: 609px ){
    .video{
        margin-left: 0%;
        width:"304px"; 
        height:"152px"; 
    }
}
@media screen and (min-width: 610px ){
    .contenido__materias{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* background-color: coral; */
    }
    .tituloVideo{
        margin-top: 40px;
        margin-left: 9%;
        margin-bottom: 12px;
        font-family: Indie Flower;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        .video{
            margin-left: 9%;
        }
    }
    
}